<nav id="navbar" class="navbar navbar-expand-lg shadow-sm">
	<div class="container-fluid justify-content-center">
		

		<!-- Menu items -->
		<ul class="navbar-nav">
			<a class="navbar-brand me-4" style="border: 1px solid #27272a; padding: 5px; border-radius: 7px;" href="home.html">Vincent Welbourne | CET Student</a>
			<li class="nav-item"><a class="nav-link text-decoration-underline" href="{{ '/home.html' | relative_url }}">Home</a></li>
			<li class="nav-item"><a class="nav-link text-decoration-underline" href="{{ '/resume.html' | relative_url }}">Resume</a></li>
			<li class="nav-item"><a class="nav-link text-decoration-underline" href="{{ '/projects.html' | relative_url }}">Projects</a></li>
			<li class="nav-item"><a class="nav-link text-decoration-underline" href="{{ '/about.html' | relative_url }}">About Me</a></li>
			<!--	<li class="nav-item"><a class="nav-link text-decoration-underline" href="{{ '/home.html' | relative_url }}">Language</a></li> -->
		</ul>
	</div>
</nav>

<!-- Script for header drop and hide -->
<script src="{{ '/assets/js/header_drop.js' | relative_url }}" defer></script>
