---
layout: baseplate
title: "Home"
---
<div class="container-fluid" style="max-width:700px;">
	<div> 
		<br><h2 class="Intro text-center">{{ page.Intro }}</h2>
		<p class="AboutSummary">{{ page.AboutSummary }}</p>
		
		<div class="text-center">
			<img src="{{ site.baseurl }}/assets/images/placeholderprofile.jpg" alt="HeadshotImage" 
			style="width: 300px; height: 335px;">

			<p>Current placeholder until I get a headshot or remove this even</p>
			<p><strong>If you would like to see more about my previous work<br>
			I recommend going to my <a href="resume.html">Resume</a> or my <a href="https://github.com/Bicente44">GitHub</a>
			</strong></p><br>
		</div>
		
	<!-- {{ content }} -->
	</div>
</div>
