---
layout: baseplate
---
<div class="container-fluid" style="max-width:700px; text-align: left;">
    <br><div style="text-align: center;">
		<div class="box">
			<h1 class="Intro">{{ page.Intro }}</h1>
			<p class="AboutSummary">{{ page.AboutSummary }}</p>
		</div>
		<br><h1>Tools I work with</h1>

		{% include skills.html %} <br>
		

        <p>Find me around the web</p>
        <p>
            <a href="resume">Resume</a> &nbsp;·&nbsp;
            <a href="https://github.com/Bicente44" target="_blank">GitHub</a> &nbsp;·&nbsp;
            <a href="https://www.linkedin.com/in/vincent-welbourne/" target="_blank">LinkedIn</a>
        </p>
        <p>Try out some of my projects, emulated in the browser</p>
        <p><a href="emulator/quiz_game">Quiz Game</a></p>
    </div>
</div>
