---
layout: baseplate
---
<div>
	<p>This is the resume contents (Work in progress)</p>

	<p class="Intro">{{ page.Intro }}</p>
	
	<!-- Navbar for colum soft/hard skills and column timeline tree -->
	<nav class="navbar">
		<div class="row w-100">
			<!-- Here ill put the |Skills|Tree| just a placeholder for now -->
			<div class="col-12 col-md-6 text-center bg-success">
				<h1>SKILLS</h1>
			</div>

			<div class="col-12 col-md-6 text-center bg-primary">
				<h1>TIMELINE</h1>
			</div>


		</div>
	</nav>
	<br>
	<div class="text-center">
		<h2>My Tech Stack<h2>



	</div>
	
	
	
	
</div>


